@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

html, body {
    background-color: hsl(217, 54%, 84%);
}

main {
    margin: auto;
    width: 375px;
    margin-top: 50px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.296);
    border-radius: 10px;
    overflow: hidden;
}

#content {
    background-color: white;
    line-height: 2em;
    padding: 25px;
}

#content h1 {
    color: hsl(179, 62%, 43%);
    font-size: 22px;
    font-weight: bold;
}

#content h2 {
    color:hsl(71, 73%, 54%);
    padding: 10px 0px;
    font-size: 18px;
    font-weight: bold;
}

#content p {
    color: hsl(201, 9%, 70%);
}

#pricing {
    background-color: hsl(179, 62%, 43%);
    color: white;
    line-height: 2em;
    padding: 25px;
}

#pricing h1 {
    font-size: 18px;
}

#pricing p {
    padding: 7px;
}

#price {
    font-size: 30px;
    font-weight: bold;
}

#button {
    background-color: hsl(71, 73%, 54%);
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#button:hover {
    background-color: hsl(71, 95%, 53%);
}

#button a {
    text-decoration: none;
    color: white;
}

#features {
    background-color: hsl(179, 71%, 46%);
    color: white;
    padding: 25px;
    line-height: 1.5em;
}

#features h1 {
    font-size: 18px;
    padding-bottom: 10px;
}

#features li {
    list-style: none;
}