@charset "UTF-8";

@media screen and (min-width: 680px) {
body {
    width: 480px;
}

#form {
    width: 300px;
    height: 80px;
    margin: auto;
}

#form {
    display: inline;
    width: 300px;
    height: 40px;
    float: left;
    margin-bottom: 15px;
}

#button button{
    display: inline;
    position: relative;
    top: 10px;
    width: 150px;
    float: right;
}

#button button:hover {
    background-color: hsla(223, 87%, 63%, 0.751);
    border-color: hsla(223, 87%, 63%, 0.229);
}

#validation {
    width: 300px;
    height: 40px;
}

picture img{
    width: 480px;
    padding: 40px 0px 0px 0px;
}

#icons {
    padding: 20px;
}

#icons i:hover {
    background-color: hsla(223, 87%, 63%, 0.751);
    border-color: hsla(223, 87%, 63%, 0.229);
    color: white;
}

}